.style-card {
    //margin: 0;
    opacity: 0.8;
    border: 5px solid;
    background-color: rgb(255 255 255);
    border-radius: 15px !important;


    &:hover {
        //background-color: rgb(168, 5, 5) !important;
        transition: linear 0.2s !important;
    }

    .card-text-style
    {
        font-size: 3em !important;
        font-weight: 100;
    }

}

#app-header {
    background-color: #0877A3;

    h1 {
        color: white;
        text-align: center;
    }

    span {
        color: white;
    }

    button {
        span {
            color: white;
        }
    }
}

#new-kpi-card
{
    #new-kpi-container
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 85%;
        width: 100%;
        left: 0;
    }
    background: linear-gradient(56deg, #070536 0%, #245e81 35%, #56c4eb 100%);
    #new-kpi-data-box, #new-kpi-table-box
    {
        background-color: #ffffff;
        border: 5px solid #939cff;
        border-radius: 15px;
    }

    #new-kpi-data-box
    {
        height: 35%;
        max-height: 35%;
        overflow: scroll;
        overflow-x: hidden;
    }

    #new-kpi-table-box
    {
        height: 45%;
        max-height: 50%;

        .container-scrollable
        {
            overflow: scroll;
            overflow-x: hidden;
            height: 85%;
        }
    }

    .new-kpi-table-row
    {
        height: 25px;
        h4
        {
            font-size: 1.2em;
        }

    }

    #new-kpi-graphic-buttons
    {
        height: 17%;
        position: relative;

        .title-container
        {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -10%;
        }
        .row h4
        {
            color: white;
            font-size: 4vh;
        }

        .row button
        {
            width: 6vw;
            height: 10vh;
            border-radius: 15px;

            span i
            {
                font-size: 6vh;
            }
        }

        .row button:hover
        {
            color: white;
            background-color: #4caf50 !important;
            transition: linear 0.2s;
        }
    }

    #new-kpi-chart
    {
        height: 75%;
        //|transform: translateY(-50%);
        //top: 55%;
        //position: absolute;
        .highcharts-container
        {
            border-radius: 20px;
        }
    }
}

#detail-kpi
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    height: 80%;
    min-height: 700px;
    overflow: hidden;


    #detail-kpi-container
    {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        box-sizing: content-box;
        padding-right: 5vh;

        .kpi-pilar-list-item
        {
            header
            {
                height: 12vh !important;
            }

            .v-toolbar__content
            {
                width: 98%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                strong
                {
                    font-size: 3vh;
                }
            }
        }


        .detail-kpi-title, .detail-kpi-title button
        {
            color: white;
            font-size: 1.2em;
        }
        .detail-kpi-title button span i
        {
            font-size: 1.8em;
        }
    }
    .v-icon
    {
        color: white;
    }
}

#edit-kpi-container
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    height: 80%;

    .edit-kpi-title
    {
        position: absolute;
        top: -5%;
    }

    button i, .v-input i, h2, h4, .v-input label, #edit-kpi-chart-container h5
    {
        color: white;
    }

    #edit-kpi-section
    {
        height: 85%;
    }

    #edit-kpi-tabla-kpi-container
    {
        background-color: white;
        border: 5px solid;
        border-radius: 15px;
        opacity: 0.9;
        border-color: #939cff;
    }

    #edit-kpi-kpis-container
    {
        .kpi
        {
            min-height: 145px;
            height: 33.3%;

            .v-card
            {
                height: 100%;
                background-color: transparent;
                border: none;

                .v-list-item
                {
                    height: 100%;
                    border: 5px solid;
                    border-radius: 15px;
                    opacity: 0.9;
                    border-color: #939cff;
                    background-color: white;
                }
            }
        }
    }
}